gradio_agentchatbot==0.0.2
git+https://github.com/freddyaboulton/transformers.git@agent_fixes_freddyb#egg=transformers[agents]
langchain
langchain-community
sentence-transformers
faiss-cpu
serpapi
google-search-results
langchain-openai
langchainhub